# ignore everything in the root except the "wp-content" directory.
# !wp-content/
# wp-admin/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
wp-content/**/
!wp-content/plugins/
!wp-content/plugins/activity-destination
!wp-content/plugins/faq/
!wp-content/plugins/fn-activities/
!wp-content/plugins/hotel-destination/
!wp-content/plugins/hotels/
!wp-content/plugins/promotions/
!wp-content/plugins/tour-destination/
!wp-content/plugins/tours/
!wp-content/themes/
!wp-content/themes/flightnepal/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# Settings File
settings.ini

.DS_Store
*.DS_Store

#htaccess
.htaccess

error_log

