/* ====================================================
	0. Common
==================================================== */

    .page-top {
        background: url(../images/icons/bg/sample-bg.jpg) no-repeat center center;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 100px;
    }
    .page-top:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #17181f;
        -webkit-opacity: 0.42;
        -moz-opacity: 0.42;
        filter: alpha(opacity=42);
        -khtml-opacity: 0.42;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=42)';
        opacity: 0.42;

        z-index: 4;
    }
    .common-page,
    .tour-single-page {
        height: 480px;
    }
    .tour-single-page h1 {
        max-width: 680px;
        text-align: center;
    }
    .common-page .inner {
        position: relative;
        z-index: 11;
        padding: 0 40px;
    }
    .common-page .inner h1 {
        color: #FFF;
        -webkit-text-shadow: 0px 0px 10px rgba(0,0,0,.32);
        -moz-text-shadow: 0px 0px 10px rgba(0,0,0,.32);
        -o-text-shadow: 0px 0px 10px rgba(0,0,0,.32);
        -ms-text-shadow: 0px 0px 10px rgba(0,0,0,.32);
        text-shadow: 0px 0px 10px rgba(0,0,0,.32);
    }
    .breadrcumb-section {
        background: #17181f;
    }
    ul.breadcrumb {
        padding: 20px 0;
        border-bottom: solid 2px #202229;
    }
    ul.breadcrumb li {
        font-size: 15px;
        line-height: 20px;
        display: inline-block;
        vertical-align: top;
        color: #8f8f8f;
        font-family: 'Nunito Sans', sans-serif;
    }
    ul.breadcrumb li a {
        color: #CB69C1;
        position: relative;
        padding-right: 20px;
    }
    ul.breadcrumb li a:after {
        position: absolute;
        content: '/';
        right: 5px;
        top: 0;
        line-height: 20px;
    }
    ul.breadcrumb li a:hover {
        color: #6C72CB;
    }

/* ====================================================
	1. Home Page
==================================================== */

    /* ====== Landing ====== */

        #home {
            height: 860px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding-bottom: 40px;		
        }
        #home:before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #17181f;
            -webkit-opacity: 0.86;
            -moz-opacity: 0.86;
            filter: alpha(opacity=86);
            -khtml-opacity: 0.86;
            -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=86)';
            opacity: 0.86;
        }
        #home .inner {
            position: relative;
            z-index: 3;
        }
        #home .inner svg {
            fill: white;
            height: 60px;
            width: auto;
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        #home .inner h1 {
            margin: 0 0 20px 0;
        }
        #home .inner .action-holder .i {
            width: 320px;
        }
        #home .inner .action-holder p {
            font-size: 15px;
        }
        #home .inner .action {
            background: white;
            height: 48px;
            min-width: 260px;
            padding: 0 20px 0 20px;
            -webkit-border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -o-border-top-left-radius: 4px;
            -ms-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -o-border-bottom-left-radius: 4px;
            -ms-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
            cursor: pointer;
        }
        #home .inner .action .arr {
            margin-left: auto;
            margin-top: 10px;
        }
        #home .inner .action svg{
            height: 20px;
            width: auto;
            display: block;
        }
        #home .inner ul.options {
            position: absolute;
            background: #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
            left: 0;
            top: 52px;
            width: 260px;
            display: none;
            -webkit-transition-timing-function: ease-in;
            -moz-transition-timing-function: ease-in;
            -o-transition-timing-function: ease-in;
            -ms-transition-timing-function: ease-in;
            transition-timing-function: ease-in;		   	
            -webkit-animation: slide-bottom-top .4s;
            -moz-animation: slide-bottom-top .4s;
            -o-animation: slide-bottom-top .4s;
            -ms-animation: slide-bottom-top .4s;
            animation: slide-bottom-top .4s;
            -webkit-animation-fill-mode: both;
            -moz-animation-fill-mode: both;
            -o-animation-fill-mode: both;
            -ms-animation-fill-mode: both;
            animation-fill-mode: both;
        }
        #home .inner ul.options li {
            border-bottom: solid 1px #f0f0f0;
            text-align: left;
            display: block;
        }
        #home .inner ul.options li.no-show {
            display: none;
        }
        #home .inner ul.options li:hover {
            background: #f0f0f0;
        }
        #home .inner ul.options li:last-child {
            border-bottom: none;
        }
        #home .inner ul.options li p {
            line-height: 46px;
            padding: 0 20px;
            display: block;
            cursor: pointer;
        }
        #home .inner button {
            -webkit-border-top-left-radius: 0px;
            -moz-border-top-left-radius: 0px;
            -o-border-top-left-radius: 0px;
            -ms-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
            -webkit-border-bottom-left-radius: 0px;
            -moz-border-bottom-left-radius: 0px;
            -o-border-bottom-left-radius: 0px;
            -ms-border-bottom-left-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 80px;
            line-height: 48px;
            height: 48px;
        }

    /* ====== Offers ====== */

        .home-offers{
            z-index: 12;
            background: #17181f;
            height: 248px;
            position: relative;
        }
        .home-offers .container,
        .home-offers .special-offers,
        .home-offers .newsletters,
        .home-offers .travel-tips{
            height: 280px;
        }
        .home-offers .container{
            background: #17181f;
            background: -webkit-linear-gradient(to right, rgba(203,105,193,1), rgba(108,114,203,1));
            background: -moz-linear-gradient(to right, rgba(203,105,193,1), rgba(108,114,203,1));
            background: -o-linear-gradient(to right, rgba(203,105,193,1), rgba(108,114,203,1));
            background: -ms-linear-gradient(to right, rgba(203,105,193,1), rgba(108,114,203,1));
            background: linear-gradient(to right, rgba(203,105,193,1), rgba(108,114,203,1));
            position: absolute;
            top: -68px;
            left: 50%;
            margin-left: -560px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
        }
        .home-offers .special-offers,
        .home-offers .newsletters,
        .home-offers .travel-tips,
        .top-destinations .one{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .home-offers .inner{
            padding: 0 48px;
        }
        .home-offers .inner h4{
            color: #FFF;
        }
        .home-offers .inner p{
            color: #FFF;
            max-width: 386px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .home-offers .newsletters{
            background: rgba(0,0,0,.1);
        }
        .home-offers .travel-tips{
            background: rgba(0,0,0,.2);
        }

    /* ====== Common ====== */

        .title-link p.v {
            margin-left: auto;
            padding-right: 36px;
            color: #CB69C1;
        }
        .title-link p.v:hover {
            color: #6C72CB;
        }
        .title-link p.v:before {
            position: absolute;
            content: '';
            right: 6px;
            height: 1px;
            width: 20px;
            background: #CB69C1;
            bottom: 10px;
        }
        .title-link p.v:after {
            position: absolute;
            content: '';
            right: 0;
            border-top: solid 4px transparent;
            border-left: solid 6px #CB69C1;;
            border-bottom: solid 4px transparent;
            bottom: 6px;   
        }

    /* ====== Top Destinations ====== */

        .top-destinations{
            padding-bottom: 48px;
            background: #17181f;
        }
        .top-destinations .one{
            position: relative;
            height: 250px;
            width: -webkit-calc(25% - 30px);
            width: -moz-calc(25% - 30px);
            width: -o-calc(25% - 30px);
            width: -ms-calc(25% - 30px);
            width: calc(25% - 30px);
            margin-right: 40px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
            overflow: hidden;
        }
        .top-destinations .one:nth-child(4n){
            margin-right: 0;
        }
        .top-destinations .one .img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
        .top-destinations .one .ol{
            position: absolute;
            content: '';
            background: rgba(0,0,0,.48);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
        .top-destinations .one:hover .ol{
            background: rgba(0,0,0,.28);
        }
        .top-destinations .one .inner{
            position: relative;
            z-index: 3;
            text-align: center;
        }
        .top-destinations .one .inner h5{
            color: #FFF;
        }
        .top-destinations .one .inner p{
            color: #FFF;
        }
        .top-destinations .one .inner p img{
            height: 10px;
        }
        .top-activities{
            padding-bottom: 80px;
            background: #17181f;
        }

    /* ====== Promotions ====== */

        .promotions{
            padding-bottom: 48px;
            background: #17181f;
        }
        .promotions .one{
            position: relative;
            width: -webkit-calc(33.33% - 26.67px);
            width: -moz-calc(33.33% - 26.67px);
            width: -o-calc(33.33% - 26.67px);
            width: -ms-calc(33.33% - 26.67px);
            width: calc(33.33% - 26.67px);
            margin-right: 40px;
            overflow: hidden;
        }
        .promotions .one:nth-child(3n){
            margin-right: 0;
        }
        .promotions .one .img{
            -webkit-border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -o-border-top-left-radius: 4px;
            -ms-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            -o-border-top-right-radius: 4px;
            -ms-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
            overflow: hidden;
        }
        .promotions .one .img img{
            width: 100%;
            height: auto;
            display: block;
        }
        .promotions .one .desc{
            background: #202229;
            border-top: none;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -o-border-bottom-left-radius: 4px;
            -ms-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            -o-border-bottom-right-radius: 4px;
            -ms-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 20px;
            overflow: hidden;
        }
        .promotions .one .desc h5{
            line-height: 1.2;
            margin-bottom: 10px;
            color: #b8b8b8;
        }
        .promotions .one .desc p{
            line-height: 1.4;
            margin: 5px 0 20px 0;
            color: #6d6d6d;
        }
        .promotions .one .desc button{
            float: right;
        }
        p.read-more{
            position: relative;
        }
        p.read-more:before,
        p.read-more:after{
            position: absolute;
            content: ''
        }
        p.read-more:before{
            top: 10px;
            right: 2px;
            height: 1px; 
            width: 30px;
            background: #CB69C1;
        }
        p.read-more:after{
            top: 6px;
            right: 0px;
            border-top: solid 4px transparent;
            border-left: solid 6px #CB69C1;;
            border-bottom: solid 4px transparent;
        }
        .blogs .one .desc p{
            margin: 10px 0 10px 0;
            color: #CB69C1;
            text-align: right;
            padding-right: 40px;
        }

    /* ====== All Destinations ====== */

        .all-destinations{
            padding-top: 40px;
        }
        .all-destinations .one{
            margin-bottom: 40px;
        }

    /* ====== All Promotions ====== */

        .all-promotions{
            padding-top: 40px;
        }
        .all-promotions .one{
            margin-bottom: 40px;
        }

/* ====================================================
	2. Blogs Page
==================================================== */

    /* ====== All Blogs ====== */

        .all-blogs {
            padding-top: 40px;
        }
        .all-blogs .one {
            margin-bottom: 40px;
        }
        .pagination {
            text-align: center;
            padding: 10px 0;
        }
        .pagination a,
        .pagination span {
            height: 30px;
            width: 30px;
            background: #202229;
            display: inline-block;
            line-height: 30px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -o-border-radius: 100%;
            -ms-border-radius: 100%;
            border-radius: 100%;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
            color: #6C72CB;
            font-weight: 300;
            font-size: 12px;
            text-align: center;
            cursor: pointer;
            font-family: 'Nunito Sans', sans-serif;
        }
        .pagination .current {
            background: #6C72CB;
            color: #fff;
        }
        .pagination a:hover {
            background: #CB69C1;
            color: #fff;
        }

/* ====================================================
	3. Country Wise
==================================================== */

    /* ====== All Packages ====== */

        .country-wise .one {
            width: -webkit-calc(33.33% - 20px);
            width: -moz-calc(33.33% - 20px);
            width: -o-calc(33.33% - 20px);
            width: -ms-calc(33.33% - 20px);
            width: calc(33.33% - 20px);
            margin-right: 30px;
            margin-bottom: 30px;
            overflow: hidden;
        }
        .country-wise .one:nth-child(3n) {
            margin-right: 0;
        }
        .country-wise .one .img {
            background: url(../images/pages/home/landing/bg.jpg) no-repeat center center;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -o-border-top-left-radius: 4px;
            -ms-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            -o-border-top-right-radius: 4px;
            -ms-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
            height: 148px;
        }
        .country-wise .one .desc {
            border-top: none;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -o-border-bottom-left-radius: 4px;
            -ms-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            -o-border-bottom-right-radius: 4px;
            -ms-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
            overflow: hidden;
            padding: 15px 0 15px 0;
            background: #202229;
        }
        .country-wise .one .desc h4,
        .country-wise .one .desc h5,
        .country-wise .one .desc h6,
        .country-wise .one .desc p {
            margin-bottom: 0 !important;
        }
        .country-wise .one .desc h6 {
            color: #8f8f8f;
        }
        .country-wise .one .desc p {
            font-size: 13px;
        }
        .country-wise .one .desc h4 {
            line-height: 1;
            margin-top: 5px;
            color: #6C72CB;
        }
        .country-wise .one table {
            width: 100%;
            display: table;
            border-collapse: collapse;
            table-layout: fixed;
        }
        .country-wise .one table tr td {
            padding: 0px 15px;
        }
        .country-wise .one table tr td:nth-child(2) {
            text-align: right;
        }
        .country-wise .one table tr:first-child td {
            padding-bottom: 10px;
        }
        .country-wise .one table tr td h5 {
            font-size: 16px;
            line-height: 1.4;
        }

    /* ====== Right Content ====== */

        .other-tour-destinations {
            background: #202229;
        }
        .other-tour-destinations h6 {
            line-height: 40px;
            border-bottom: solid 1px rgba(255,255,255,.04);
            padding: 0 15px;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
        }
        .other-tour-destinations a:last-child h6 {
            border-bottom: none;
        }
        .other-tour-destinations h6:hover {
            color: #CB69C1;
        }
        select.notAllowed {
            cursor: not-allowed;
        }
        .some-travel-tips {
            margin-top: 20px;
        }
        .some-travel-tips .one {
            margin-bottom: 20px;
        }
        .some-travel-tips .one .img {
            -webkit-border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -o-border-top-left-radius: 4px;
            -ms-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            -o-border-top-right-radius: 4px;
            -ms-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
            overflow: hidden;
        }
        .some-travel-tips .one .img img {
            width: 100%;
            height: auto;
            display: block;
        }
        .some-travel-tips .one .desc {
            background: #202229;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -o-border-bottom-left-radius: 4px;
            -ms-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            -o-border-bottom-right-radius: 4px;
            -ms-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
            overflow: hidden;
            padding: 15px 15px 15px 15px;
        }
        .some-travel-tips .one .desc h5 {
            font-size: 16px;
            line-height: 1.3;
        }
        .some-travel-tips .one .desc p {
            margin-top: 5px;
            text-align: right;
            padding-right: 40px;
            color: #CB69C1;
            font-size: 13px;
        }

/* ====================================================
	4. Single Package
==================================================== */

    /* ====== All Packages ====== */

        .tour-info table{
            width: 100%;
            display: table;
            border-collapse: collapse;
            table-layout: fixed;
            background: #202229;
        }
        .tour-info table tr td {
            border: solid 1px rgba(0,0,0,.2);
            padding: 10px 10px 10px 15px;
        }
        .tour-info table tr td p {
            font-size: 13px;
            line-height: 1.2;
        }
        h6.trip-info-title {
            padding: 10px 0 20px 0;
        }
        .inquire-single {
            margin-bottom: 40px;
        }
        .inquire-single table {
            width: 100%;
            display: table;
            border-collapse: collapse;
            table-layout: fixed;
        }
        .inquire-single table tr td {
            padding-bottom: 8px;
        }
        .inquire-single table tr td:nth-child(1) {
            padding-right: 8px;
        }
        .inquire-single table tr td:nth-child(2) {
            padding-left: 8px;
        }
        .inquire-single table tr td[colspan="2"] {
            padding-right: 0;
        }
        .inquire-single table tr td label {
            font-size: 13px;
            color: #b8b8b8;
        }
        .inquire-single table tr td select,
        .inquire-single table tr td input,
        .inquire-single table tr td textarea {
            width: 100%;
        }
        .inquire-single table tr td input[type="submit"] {
            width: auto;
        }
        label.budgetLabel input[type="text"] {
            background: transparent;
            height: 26px;
            width: auto !important;
            max-width: 36px;
            padding: 0 2px;
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            border: none !important;
            font-family: 'Nunito Sans', sans-serif;
            color: #b8b8b8;
            height: 12px;
            margin: 0;
            margin-top: 7px;
        }
        .inquire-single table tr td input[type="range"]{
            border: none;
            padding: 0;
            height: 20px;
            line-height: 20px;
        }
        .phone-holder {
            position: relative;
            overflow: visible;
        }
        .phone-holder .country-select-open {
            width: 44px;
            height: 30px;
            background: #fff;
            border: solid 1px #e0e0e0;
            cursor: pointer;
            margin-right: 2px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
            line-height: 40px;
            position: relative;
            float: left;
        }
        .phone-holder .country-select-open .flag {
            height: 20px;
            width: 20px;
            margin-left: 4px;
            margin-top: 4px;
            overflow: hidden;
        }
        .phone-holder .country-select-open .flag,
        .phone-holder ul.dropdown .f {
            background: url(../images/icons/bg/sample-bg.jpg) no-repeat center center;
              background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            border: solid 1px #cfcfcf;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -o-border-radius: 100%;
            -ms-border-radius: 100%;
            border-radius: 100%;
        }
        .phone-holder .country-select-open,
        .phone-holder .code {
            z-index: 9 !important;
        }
        .phone-holder .code {
            position: absolute;
            background: #fff;
            width: 48px;
            padding-right: 6px;
            border-right: solid 1px #e8e8e8;
            height: 28px;
            line-height: 28px;
            text-align: right;
            top: 1px;
            left: 48px;
            -webkit-border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -o-border-top-left-radius: 4px;
            -ms-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -o-border-bottom-left-radius: 4px;
            -ms-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
            color: #8f8f8f;
            font-size: 12px;
            cursor: pointer;
            z-index: 100 !important;
        }
        .phone-holder .country-select-open:after{
            position: absolute;
            content: '';
            right: 5px;
            top: 13px;
            border-left: solid 4px transparent;
            border-top: solid 4px #cfcfcf;
            border-right: solid 4px transparent;
        }
        .phone-holder input{
            float: right;
            padding-left: 56px;
            width: -webkit-calc(100% - 46px) !important;
            width: -moz-calc(100% - 46px) !important;
            width: -o-calc(100% - 46px) !important;
            width: -ms-calc(100% - 46px) !important;
            width: calc(100% - 46px) !important;
        }
        .phone-holder ul.dropdown {
            position: absolute;
            top: 60px;
            max-width: 100%;
            background: #fff;
            border: solid 1px #cfcfcf;
            max-height: 200px;
            overflow-y: scroll;
            z-index: 99999 !important;
            left: 5px;
            width: -webkit-calc(100% - 10px);
            width: -moz-calc(100% - 10px);
            width: -o-calc(100% - 10px);
            width: -ms-calc(100% - 10px);
            width: calc(100% - 10px);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
        }
        .phone-holder ul.dropdown li{
            font-size: 13px;
            line-height: 16px;
            border-bottom: solid 1px #f0f0f0;
            color: #2c3e50;
            padding: 12px 20px 12px 12px;
            cursor: pointer;
        }
        .phone-holder ul.dropdown li:last-child{
            border-bottom: none;
        }
        .phone-holder ul.dropdown li:hover{
            background: #f0f0f0;
        }
        .phone-holder ul.originDropdown,
        .phone-holder ul.destinationDropdown{
            display: none;
        }
        .phone-holder ul.dropdown {
            top: 32px;
            width: 240px;
            max-width: 240px;
            left: 0;
            background: #FFF;
            display: none;
            z-index: 99;
        }
        .phone-holder.active ul.dropdown {
            display: block;
        }
        .phone-holder ul.dropdown .f{
            height: 20px;
            width: 20px;
            margin-right: 12px;
        }
        .phone-holder ul.dropdown .f,
        .phone-holder ul.dropdown p {
            display: inline-block;
            vertical-align: top;
        }
        .phone-holder ul.dropdown p {
            max-width: 172px;
            height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 13px;
            color: #202229;
        }
        .phone-holder ul.dropdown p span{
            font-size: 8px;
            font-weight: 300 !important;
        }
        .phone-holder ul.dropdown{
            top: 42px;
            left: 0;
        }
        .phone-holder .country-select-open{
            height: 40px;
            width: 60px;
        }
        .phone-holder .country-select-open:after{
            top: 18px;
            right: 8px;
        }
        .phone-holder .country-select-open .flag{
            height: 30px;
            width: 30px;
        }
        .phone-holder .code{
            top: 1px;
            left: 66px;
            height: 38px;
            line-height: 38px;
        }
        .phone-holder input{
            padding-left: 56px;
            width: -webkit-calc(100% - 64px) !important;
            width: -moz-calc(100% - 64px) !important;
            width: -o-calc(100% - 64px) !important;
            width: -ms-calc(100% - 64px) !important;
            width: calc(100% - 64px) !important;
        }
        .ui-datepicker{
            z-index: 99999 !important;
            width: 240px !important;
            font-size: 13px !important;
            font-family: 'Nunito Sans', sans-serif !important;
            color: #202229 !important;
        }
        .ui-widget-header{
            border: solid 1px #bdc3c7 !important;
            color: #202229 !important;
            background: #f0f0f0 !important;
        }
        .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
            border: solid 1px #CB69C1 !important;
            background: #fafafa !important;
            color: #202229 !important;
        }
        .ui-state-default, 
        .ui-widget-content .ui-state-default, 
        .ui-widget-header .ui-state-default, 
        .ui-button, 
        html .ui-button.ui-state-disabled:hover, 
        html .ui-button.ui-state-disabled:active {
            background: #fafafa !important;
            color: #202229 !important;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -o-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
            text-align: center;
        }
        .ui-datepicker-prev,
        .ui-datepicker-next{
            border: solid 1px rgba(0,0,0,.06) !important;
            cursor: pointer;
        }
        .ui-datepicker-prev:hover,
        .ui-datepicker-next:hover{
            top: 2px !important;
            border: solid 1px rgba(0,0,0,.12) !important;
        }
        .ui-datepicker-prev:hover{
            left: 2px !important;
        }
        .ui-datepicker-next:hover{
            right: 2px !important;
        }
        input.wpcf7-not-valid,
        select.wpcf7-not-valid{
            border: solid 1px;
            border-color: red;
        }
        span.wpcf7-list-item{
            margin: 0;
        }
        .wpcf7 form .wpcf7-response-output{
            padding: 0;
            margin: 0;
        }
        .wpcf7 form.sent .wpcf7-response-output,
        .wpcf7 form.invalid .wpcf7-response-output, 
        .wpcf7 form.unaccepted .wpcf7-response-output{
            border-color: transparent;
            font-size: 12px;
        }
        .wpcf7 form.sent .wpcf7-response-output, 
	    .wpcf7 form.invalid .wpcf7-response-output, 
	    .wpcf7 form.unaccepted .wpcf7-response-output {
            padding: 0 0;
            font-size: 13px;
            color: #CB69C1;
        }
		span.wpcf7-not-valid-tip{
			display: none;
		}
        .hotelSingleFormHolder,
        .tourSingleFormHolder,
        .activitySingleFormHolder {
            background: #202229;
            padding: 30px;
        }
        .readable p {
            color: #aaa;
        }
        .content-below .left {
            float: left;
            width: -webkit-calc(100% - 300px);
            width: -moz-calc(100% - 300px);
            width: -o-calc(100% - 300px);
            width: -ms-calc(100% - 300px);
            width: calc(100% - 300px);
            padding-right: 40px;
        }
        .content-below .right {
            width: 300px;
            float: right;
            padding-top: 48px;
        }

/* ====================================================
	5. FAQs
==================================================== */

    /* ====== All FAQs ====== */

        ul.faqs{
            overflow: hidden;
            padding: 0;
            margin-bottom: 0 !important;
        }
        ul.faqs li{
            list-style: none;
            padding: 10px 25px !important;
            background: #6C72CB;
            float: left;
            font-size: 15px !important;
            line-height: 25px !important;
            color: #fff !important;
            margin-bottom: 0 !important;
            border-right: solid 1px rgba(0,0,0,.12);
            cursor: pointer;
        }
        ul.faqs li:last-child{
            border-right: none;
        }
        ul.faqs li:after,
        .faqs-content ul.questions li:after{
            display: none;
        }
        ul.faqs li.active{
            background: #CB69C1;
        }
        .faqs-content{
            background: #202229;
            margin-bottom: 20px;
        }
        .faqs-content .inner {
            display: none;
        }
        .faqs-content .active {
            display: block;
        }
        .faqs-content ul.questions li {
            padding: 0;
            margin-bottom: 0 !important;
            border-bottom: solid 2px #17181f;
        }
        .faqs-content ul.questions li:last-child {
            border-bottom: none;
        }
        .faqs-content ul.questions li h5 {
            padding: 25px 25px 25px 20px;
            cursor: pointer;
            margin-bottom: 0 !important;
        }
        .faqs-content ul.questions li h5 span {
            height: 28px;
            width: 28px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            background: #17181f;
            background: #8f8f8f;
            color: #6C72CB;
            color: #FFF;
            margin-right: 10px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -o-border-radius: 100%;
            -ms-border-radius: 100%;
            border-radius: 100%;
            font-size: 10px;
            line-height: 28px;
        }
        .faqs-content ul.questions li .answer {
            display: none;
            padding: 0 25px 30px 25px;
        }
        .faqs-content ul.questions li .answer p {
            color: #bdc3c7;
            margin-bottom: 0px !important;
        }


        
