
	/* ====================================================
		1. Basic Styling
	==================================================== */

		/* ================================================
			1.1 Common Elements
		================================================ */

			*{
				margin: 0;
				padding: 0;
				-webkit-box-sizing: border-box; 
				-moz-box-sizing: border-box; 
				box-sizing: border-box;
				list-style: none;		
			}
			body {
				height: auto;	
				overflow: auto;		
				text-align: left;
				font-family: 'Poppins-Regular';
				line-height: 1.5;
				background: #fff;
			}
			.container{
				width: 1120px;
				margin: 0 auto;
				overflow: hidden;
			}
			a{
				text-decoration: none;
				color: inherit;
				outline: 0;
			}
			h1, h2, h3, h4, h5, h6{
				color: #1a2b47;
				font-family: 'Poppins-Medium';
			}
			h1{
				font-size: 42px;
				line-height: 52px;
			}
			h2{
				font-size: 36px;
				line-height: 48px;
			}
			h3{
				font-size: 30px;
				line-height: 40px;
			}
			h4{
				font-size: 24px;
				line-height: 36px;
			}
			h5{
				font-size: 18px;
				line-height: 30px;
			}
			h6{
				font-size: 13px;
				line-height: 20px;
			}
			p{
				font-size: 13px;
				line-height: 20px;
				color: #1a2b47;
			}

		/* ================================================
			1.2 Button & Input
		================================================ */

			button{
				border: none;
				outline: none;
				font-size: 13px;
				height: 40px;
				line-height: 40px;
				font-weight: 200;
				padding: 0px 24px;	
				color: #fff;		
				cursor: pointer;
		        background: transparent;
		        border: solid 1px;
		        font-family: 'Poppins-Light';
		        -webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
		        background: #ff7300;
		        border-color: #ff7300;
			}
			button:hover{
				background: #d35400;
				border-color: #d35400;
			}
			button.transparent{
				border-color: #fff;
				background: transparent;
			}
			button.transparent:hover{
				background: #fff;
				border-color: #FFF;
				color: #3498db;
			}
			input, select, textarea{
				border: none;
				outline: none;
				resize:none;
			    background: #FFF;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    -o-appearance: none;
			    appearance: none;
			}
			textarea{
				-webkit-appearance: textarea;
				-webkit-rtl-ordering: logical;
		    	-webkit-user-select: text;
			}
			textarea::-ms-expand{
				display: none;
			}
			.ie textarea {
				margin-bottom: 48px;
			}
			input.form,
			select.form,
			textarea.form{
				-webkit-appearance: none;
    			-moz-appearance: none;
    			appearance: none;
				outline: none;
		        font-size: 12px;
		        color: #292F38;
		        line-height: 30px;
		        height: 30px;
		        -webkit-transition: all 0.2s;
		        -moz-transition: all 0.2s;
		        -o-transition: all 0.2s;
		        -ms-transition: all 0.2s;
		        transition: all 0.2s;
		        -moz-box-shadow: none;
		  		-webkit-box-shadow: none;
		  		-o-box-shadow: none;
		  		box-shadow: none;
		  		border: solid 1px #e0e0e0;
		  		-webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
		        padding: 0 8px;
		        font-family: 'Poppins-Regular';
			}
			input[type="radio"]{
				background: #cfcfcf;
				height: 16px;
				width: 16px !important;
		        position: relative;
		        border: solid 1px #aaaaaa;
		        position: relative;
			}
			input[type="radio"],
			input[type="radio"]:after{
				-webkit-border-radius: 100%;
		        -moz-border-radius: 100%;
		        -o-border-radius: 100%;
		        -ms-border-radius: 100%;
		        border-radius: 100%;
			}
			input[type="radio"]:after{
				position: absolute;
				content: '';
				height: 8px;
				width: 8px;
				top: 2px;
				left: 2px;
				background: rgba(255,255,255,.6);
				border: solid 1px rgba(0,0,0,.2);
			}
			input[type="radio"]:checked:after{
				background: #ff7300;
			}
			select.form{
				background: #fff;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    -o-appearance: none;
			    appearance: none;
			    background: #FFF url(../images/icons/select-arrow.svg) right center no-repeat;
			    cursor: pointer;
			}
			::-webkit-input-placeholder {
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha(opacity=100);
				-moz-opacity: 1;
				-khtml-opacity: 1;
				opacity: 1;
			}
			:-moz-placeholder {
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha(opacity=100);
				-moz-opacity: 1;
				-khtml-opacity: 1;
				opacity: 1;
			}
			::-moz-placeholder {
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha(opacity=100);
				-moz-opacity: 1;
				-khtml-opacity: 1;
				opacity: 1;
			}
			:-ms-input-placeholder {
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha(opacity=100);
				-moz-opacity: 1;
				-khtml-opacity: 1;
				opacity: 1;
			}

		/* ================================================
			1.3 Width Ranges
		================================================ */

			.f-left{
				float: left;
			}
			.col-1-2{
				width: 50%;
			}
			.col-1-3{
				width: 33.33%;
			}
			.col-2-3{
				width: 66.66%;
			}
			.col-3-5{
				width: 60%;
			}
			.col-1-5{
				width: 20%
			}
			.col-1-4{
				width: 25%;
			}
			.mar-0-a{
				margin: 0 auto;
			}
			.transition{
				-webkit-transition: all 0.2s;
		        -moz-transition: all 0.2s;
		        -o-transition: all 0.2s;
		        -ms-transition: all 0.2s;
		        transition: all 0.2s;
			}
			.pos-rel{
				position: relative;
			}
			.of-hid{
				overflow: hidden;
			}

		/* ================================================
			1.4 Notification
		================================================ */

			#notification{
				position: fixed;
				-webkit-box-shadow: 0px 0px 40px rgba(0,0,0,.48);
		        -moz-box-shadow: 0px 0px 40px rgba(0,0,0,.48);
		        -o-box-shadow: 0px 0px 40px rgba(0,0,0,.48);
		        -ms-box-shadow: 0px 0px 40px rgba(0,0,0,.48);
		        box-shadow: 0px 0px 40px rgba(0,0,0,.48);
		        z-index: 9999999 !important;
		        bottom: 20px;
		        border: solid 1px #f0f0f0;
		        background: #FFF;
		        width: 300px;
		        min-height: 86px;
		        overflow: hidden;
		        -webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
		        right: -400px;
			}
			#notification .icon{
				width: 60px;
				float: left;
				padding: 15px;
			}
			#notification .icon .img{
				height: 30px;
				width: 30px;
				background: #ff7300;
				display: block;
				padding: 6px;
				-webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
			}
			#notification .icon .img img{
				width: auto;
				height: 100%;
				margin: 0 auto;
				display: block;
			}
			#notification .desc{
				float: left;
				width: -webkit-calc(100% - 60px);
		        width: -moz-calc(100% - 60px);
		        width: -o-calc(100% - 60px);
		        width: -ms-calc(100% - 60px);
		        width: calc(100% - 60px);
		        padding: 10px 30px 20px 15px;
		        border-left: solid 1px #f0f0f0;
			}
			#notification h6{
				font-family: 'Poppins-Medium';
				font-size: 14px;
				margin-bottom: 5px;
			}
			#notification p{
				font-size: 12px;
				line-height: 1.3;
			}
			#notification h6.error{
				color: red;
			}
			#notification h6.success{
				color: green;
			}
			#notification img.close{
				position: absolute;
				top: 10px;
				right: 10px;
				height: 16px;
				cursor: pointer;
			}

	/* ====================================================
		2. Header & Top Elements 
	==================================================== */

		/* ================================================
			2.1 Overview
		================================================ */

			header{
				width: 100%;
				position: absolute;
				z-index: 9999;
				overflow: visible;
			}
			header .upper{
				background: #1a8641;
				border-bottom: solid 1px rgba(0,0,0,.1);
				padding: 10px 15px;
				overflow: hidden;
				height: 40px;
			}
			header .upper p{
				color: #FFFFFF;				
				margin-left: 4px;
				line-height: 20px;
			}
			header .upper p.line{
				border-left: solid 1px rgba(255,255,255,.12);
				padding-left: 10px;
			}
			header .upper p a:hover{
				color: rgba(255,255,255,.48);
			}
			header ul.left{
				float: left;
			}
			header ul.right{
				float: right;
			}
			header ul.social li{
				display: inline-block;
				vertical-align: top;
				margin-right: 4px;
			}
			header ul.social li img{
				height: 20px;
				display: block;
			}
			header .lower{
				padding: 20px 0;
				overflow: visible;
				background: rgba(0,0,0,0.32);
				/*background: rgba(255,115,0,1);*/
				height: 80px;
			}
			header .lower .container{
				overflow: visible;
			}
			header .lower .logo{
				float: left;
			}
			header .lower .logo img{
				height: 40px;
			}
			.transparentMenuActive{
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: block;
				z-index: 9999;
				background: rgba(0,0,0,.68);
			}
			img#menuButton{
				position: absolute;
				height: 22px;
				width: 22px;
				top: 28px;
				left: 20px;
			}
			.transparentMenuActive,
			img#menuButton{
				display: none;
			}
			nav{
				float: left;
				padding: 0 40px;
			}
			nav ul li{
				display: inline-block;
				vertical-align: top;
				text-transform: uppercase;
				font-family: 'Poppins-Bold';
				font-size: 14px;
				line-height: 40px;
				margin-right: 40px;
				color: #FFF;
				-webkit-transition: all 0.2s;
		        -moz-transition: all 0.2s;
		        -o-transition: all 0.2s;
		        -ms-transition: all 0.2s;
		        transition: all 0.2s;
		        position: relative;
			}
			nav ul li a{
				display: block;
			}
			nav ul li:hover{
				color: #1a8641;
			}
			nav ul li.current_page_item{
				color: #ff7300;
			}
			nav ul li ul{
				position: absolute;
				background: #FFFFFF;
				top: 40px;
				width: 200px;
				left: 0;
				-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.2);
		        -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.2);
		        -o-box-shadow: 0px 0px 20px rgba(0,0,0,.2);
		        -ms-box-shadow: 0px 0px 20px rgba(0,0,0,.2);
		        box-shadow: 0px 0px 20px rgba(0,0,0,.2);
		        z-index: 12;
		        text-align: left;
		        display: none;
		        -webkit-transition-timing-function: ease-in;
			   	-moz-transition-timing-function: ease-in;
			   	-o-transition-timing-function: ease-in;
			   	-ms-transition-timing-function: ease-in;
			   	transition-timing-function: ease-in;		   	
			   	-webkit-animation: slide-bottom-top .4s;
			   	-moz-animation: slide-bottom-top .4s;
			   	-o-animation: slide-bottom-top .4s;
			   	-ms-animation: slide-bottom-top .4s;
			   	animation: slide-bottom-top .4s;
			   	-webkit-animation-fill-mode: both;
			   	-moz-animation-fill-mode: both;
			   	-o-animation-fill-mode: both;
			   	-ms-animation-fill-mode: both;
			   	animation-fill-mode: both;
			}
			@-webkit-keyframes slide-bottom-top{
				0% { -webkit-opacity: 0; -webkit-transform: translateY(8px); }
				100% { -webkit-opacity: 1; -webkit-transform: translateY(0px); }
			}
			@-moz-keyframes slide-bottom-top{
				0% { -moz-opacity: 0; -moz-transform: translateY(8px); }
				100% { -moz-opacity: 1; -moz-transform: translateY(0px); }
			}
			@-o-keyframes slide-bottom-top{
				0% { filter: alpha(opacity=0); -khtml-opacity: 0; -o-transform: translateY(8px); }
				100% { filter: alpha(opacity=100); -khtml-opacity: 1; -o-transform:translateY(0px); }
			}
			@-ms-keyframes slide-bottom-top{
				0% { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -ms-transform: translateY(8px); }
				100% { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -ms-transform: translateY(0px); }
			}
			@keyframes slide-bottom-top{
				0% { opacity: 0; transform: translateY(8px); }
				100% { opacity: 1; transform: translateY(0px); }
			}
			header nav ul li:hover ul{
				display: block;
			}
			nav ul li ul li{
				display: block;
				color: #1A2B48;
				font-size: 12px;
				line-height: 30px;
				font-family: 'Poppins-Regular';
				margin-right: 0;
				border-bottom: solid 1px rgba(0,0,0,.1)
			}
			nav ul li ul li:last-child{
				border-bottom: none;
			}
			nav ul li ul li a{
				padding: 5px 10px 5px 15px;
			}

	/* ====================================================
		3. Footer
	==================================================== */

		footer{
		}
		footer .newsletters{
			padding: 60px 0 40px 0;
			background: #fafafa;
		}
		footer .newsletters .inner{
			max-width: 680px;
		}
		footer .newsletters .left img{
			height: 60px;
			margin: 0;
			float: left;
		}
		footer .newsletters .left{
			padding-top: 20px;
		}
		footer .newsletters .left .title{
			float: left;
			text-align: left;
			padding-left: 20px;
		}
		footer p a:hover{
			color: #1a8641;
		}
		#newsletters .tnp-subscription{
			margin: 0;
		}
		#newsletters input{
			-webkit-appearance: none;
    		-moz-appearance: none;
    		appearance: none;
			-webkit-border-radius: 4px;
	        -moz-border-radius: 4px;
	        -o-border-radius: 4px;
	        -ms-border-radius: 4px;
	        border-radius: 4px;
	        line-height: 40px;
	        height: 40px;
	        border: solid 1px #cfcfcf;
	        outline: none;
	        background: #FFF;
	        font-family: 'Poppins-Regular';
	        font-size: 12px;
	        color: #000;
	        padding: 0 15px;
		}
		#newsletters input,
		#newsletters input[type="submit"]{
			-webkit-transition: all 0.2s;
	        -moz-transition: all 0.2s;
	        -o-transition: all 0.2s;
	        -ms-transition: all 0.2s;
	        transition: all 0.2s;
		}
		#newsletters input:focus{
			border: solid 1px #1a8641;
		}
		#newsletters input[type="submit"]{
			-webkit-border-radius: 4px;
	        -moz-border-radius: 4px;
	        -o-border-radius: 4px;
	        -ms-border-radius: 4px;
	        border-radius: 4px;
	        line-height: 40px;
	        padding: 0 15px;
	        font-family: 'Poppins-Medium';
	        font-size: 12px;
	        border: none;
	        background: #ff7300;
	        color: #FFF;
	        border: none;
			outline: none;
			resize:none;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    -o-appearance: none;
		    appearance: none;
		}
		#newsletters input[type="submit"]:hover{
			background: #d35400;
		}
		footer .top{
			background: #ecf0f1;
			padding: 60px 0;
		}
		footer .map-holder{
			padding-right: 60px;
		}
		footer .map-holder .g-map{
			background: #fafafa; 
			height: 320px;
		}
		footer h6.country{
			margin-bottom: 10px;
		}
		footer p.mar-btm{
			margin-bottom: 10px;
		}
		footer .bottom{
			padding: 60px 0 40px 0;
			background: #bdc3c7;
			text-align: center;
		}
		footer ul.aff li{
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			background: #FFF;
			padding: 5px;
			-webkit-border-radius: 4px;
	        -moz-border-radius: 4px;
	        -o-border-radius: 4px;
	        -ms-border-radius: 4px;
	        border-radius: 4px;
		}
		footer ul.aff li img{
			height: 28px;
			width: auto;
			display: block;
		}

	/* ====================================================
		4. Common Page 
	==================================================== */

		/* ================================================
			4.1 Landing Section 
		================================================ */

			.page-top{
				background: url(../images/icons/bg/sample-bg.jpg) no-repeat center center;
			  	background-position: center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-repeat: no-repeat;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				padding-top: 80px;
			}
			.page-top:before{
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba(0,0,0,0.32);
				z-index: 4;
			}
			.common-page{
				height: 260px;
			}
			.tour-single-page{
				height: 480px;
			}
			.tour-single-page h1{
				max-width: 680px;
				text-align: center;
			}
			.common-page .inner{
				position: relative;
				z-index: 11;
				padding: 0 40px;
			}
			.common-page .inner h1{
				color: #FFF;
				-webkit-text-shadow: 0px 0px 10px rgba(0,0,0,.32);
		        -moz-text-shadow: 0px 0px 10px rgba(0,0,0,.32);
		        -o-text-shadow: 0px 0px 10px rgba(0,0,0,.32);
		        -ms-text-shadow: 0px 0px 10px rgba(0,0,0,.32);
		        text-shadow: 0px 0px 10px rgba(0,0,0,.32);
			}
			ul.breadcrumb{
				padding: 20px 0;
				border-bottom: solid 1px #f0f0f0;
			}
			ul.breadcrumb li{
				font-size: 12px;
				line-height: 20px;
				display: inline-block;
				vertical-align: top;
				color: #34495e;
			}
			ul.breadcrumb li a{
				color: #34495e;
				font-family: 'Poppins-Medium';
				position: relative;
				padding-right: 20px;
			}
			ul.breadcrumb li a:after{
				position: absolute;
				content: '>';
				right: 5px;
				top: 0;
				line-height: 20px;
			}
			ul.breadcrumb li a:hover{
				color: #3498db;
			}

		/* ================================================
			4.2 Country Wise
		================================================ */

			.country-wise .one{
				width: -webkit-calc(33.33% - 20px);
		        width: -moz-calc(33.33% - 20px);
		        width: -o-calc(33.33% - 20px);
		        width: -ms-calc(33.33% - 20px);
		        width: calc(33.33% - 20px);
		        margin-right: 30px;
				margin-bottom: 30px;
				overflow: hidden;
			}
			.country-wise .one:nth-child(3n){
				margin-right: 0;
			}
			.country-wise .one .img{
				background: url(../images/pages/home/landing/bg.jpg) no-repeat center center;
			  	background-position: center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-repeat: no-repeat;
				-webkit-border-top-left-radius: 4px;
		        -moz-border-top-left-radius: 4px;
		        -o-border-top-left-radius: 4px;
		        -ms-border-top-left-radius: 4px;
		        border-top-left-radius: 4px;
		        -webkit-border-top-right-radius: 4px;
		        -moz-border-top-right-radius: 4px;
		        -o-border-top-right-radius: 4px;
		        -ms-border-top-right-radius: 4px;
		        border-top-right-radius: 4px;
				height: 148px;
			}
			.country-wise .one .desc{
				border: solid 1px;
				border-color: #cfcfcf;
				border-top: none;
				-webkit-border-bottom-left-radius: 4px;
		        -moz-border-bottom-left-radius: 4px;
		        -o-border-bottom-left-radius: 4px;
		        -ms-border-bottom-left-radius: 4px;
		        border-bottom-left-radius: 4px;
		        -webkit-border-bottom-right-radius: 4px;
		        -moz-border-bottom-right-radius: 4px;
		        -o-border-bottom-right-radius: 4px;
		        -ms-border-bottom-right-radius: 4px;
		        border-bottom-right-radius: 4px;
		        overflow: hidden;
		        padding: 15px 0 15px 0;
			}
			.country-wise .one:hover .desc{
				border-color: #ff7300;
			}
			.country-wise .one .desc h4,
			.country-wise .one .desc h5,
			.country-wise .one .desc h6,
			.country-wise .one .desc p{
				margin-bottom: 0 !important;
			}
			.country-wise .one table{
				width: 100%;
				display: table;
				border-collapse: collapse;
				table-layout: fixed;
			}
			.country-wise .one table tr td{
				padding: 0px 15px;
			}
			.country-wise .one table tr td:nth-child(2){
				text-align: right;
			}
			.country-wise .one table tr:first-child td{
				padding-bottom: 10px;
			}
			.country-wise .one table tr td h5{
				font-size: 16px;
				line-height: 1.4;
			}

	/* ====================================================
		5. Home Page 
	==================================================== */

		/* ================================================
			5.1 Landing Section 
		================================================ */

			#home{
				height: 860px;				
			}
			#home .form{
				position: relative;
				z-index: 99;
				width: 860px;
			}
			#home ul.selectors{
				overflow: hidden;
			}
			#home ul.selectors li{
				float: left;
				line-height: 40px;
				background: #1a8641;
				color: #FFF;
				font-family: 'Poppins-Light';
				padding: 0 20px;
				border-right: solid 1px rgba(0,0,0,.2);
				cursor: pointer;
			}
			#home ul.selectors li:last-child{
				border-right: none;
			}
			#home ul.selectors li.active{
				background: #ff7300;
			}
			#home .content{
				padding: 10px 15px 20px 15px;
				background: rgba(255,255,255,.9);
				-webkit-border-bottom-left-radius: 4px;
		        -moz-border-bottom-left-radius: 4px;
		        -o-border-bottom-left-radius: 4px;
		        -ms-border-bottom-left-radius: 4px;
		        border-bottom-left-radius: 4px;
		        -webkit-border-bottom-right-radius: 4px;
		        -moz-border-bottom-right-radius: 4px;
		        -o-border-bottom-right-radius: 4px;
		        -ms-border-bottom-right-radius: 4px;
		        border-bottom-right-radius: 4px;
		        -webkit-border-top-right-radius: 4px;
		        -moz-border-top-right-radius: 4px;
		        -o-border-top-right-radius: 4px;
		        -ms-border-top-right-radius: 4px;
		        border-top-right-radius: 4px;
			}
			#home .content .one{
				display: none;
			}
			#home .content .content-active{
				display: block;
			}
			#home .content table{
				width: 100%;
				display: table;
				border-collapse: collapse;
				table-layout: fixed;
			}
			#home .content table tr td{
				padding: 4px 5px;
			}
			#home .content table tr td.notRequired{
				-webkit-opacity: 0.2;
  				-moz-opacity: 0.2;
  				filter: alpha(opacity=20);
  				-khtml-opacity: 0.2;
  				-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  				opacity: 0.2;
			}
			#home .content table tr.add-city,
			#home .content table tr.return{
				display: none;
			}
			#home .content table tr.add-city{
				text-align: left;
			}
			#home .content table tr.add-city p{
				background: #34495e;
				width: auto;
				display: inline-block;
				padding: 5px 10px;
				color: #FFF;
				cursor: pointer;
				-webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
			}
			#home .content table tr td p.remove{
				line-height: 26px;
				background: #bdc3c7;
				padding: 0px 12px;
				margin-top: 22px;
				font-size: 12px;
				color: red;
				width: auto;
				display: inline-block;
				-webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
		        cursor: pointer;
			}
			#home .content table tr td input,
			#home .content table tr td select{
				width: 100%;
			}
			input[type="submit"]{
				width: auto;
				border: solid 1px;
				border-color: #ff7300;
				background: #ff7300;
				color: #FFF;
				line-height: 40px;
				height: 40px;
				font-family: 'Poppins-Medium';
				padding: 0 20px;
				margin-top: 10px;
				-webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
		        cursor: pointer;
				outline: none;
				resize:none;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    -o-appearance: none;
			    appearance: none;
			}
			input[type="submit"]:focus{
				outline: none;
			}
			#home .content table tr td input[type="submit"]{
				width: auto;
				float: right;
			}
			input.wpcf7-not-valid,
			select.wpcf7-not-valid{
				border-color: red;
			}
			span.wpcf7-list-item{
				margin: 0;
			}
			.wpcf7 form .wpcf7-response-output{
				padding: 0;
				margin: 0;
			}
			.wpcf7 form.sent .wpcf7-response-output,
			.wpcf7 form.invalid .wpcf7-response-output, 
			.wpcf7 form.unaccepted .wpcf7-response-output{
				border-color: transparent;
				font-size: 12px;
			}
			#home .content table tr td.flightType span{
				margin-right: 10px;
			}
			input[type="submit"]:hover{
				border: solid 1px #d35400;
				background: #d35400;
			}
			#home .content table tr td .ajax-loader{
				margin-top: 4px;
				margin-top: 22px;
				margin-right: 12px;
			}
			#home .content table tr td input[type="radio"]{
				display: inline-block;
				vertical-align: top;
				width: auto;
				margin-top: 5px;
				margin-right: 5px;
			}
			#home .content table tr td label{
				font-size: 12px;
				line-height: 15px;
				font-family: 'Poppins-Medium';
				color: #1a2b47;
			}
			.origin-destination-ip-holder{
				position: relative;
			}
			ul.dropdown{
				position: absolute;
				top: 60px;
				max-width: 100%;
				background: #fff;
				border: solid 1px #cfcfcf;
				max-height: 230px;
				overflow-y: scroll;
				z-index: 99999 !important;
				left: 5px;
				width: -webkit-calc(100% - 10px);
		        width: -moz-calc(100% - 10px);
		        width: -o-calc(100% - 10px);
		        width: -ms-calc(100% - 10px);
		        width: calc(100% - 10px);
		        -webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
			}
			ul.dropdown li{
				font-size: 13px;
				line-height: 16px;
				border-bottom: solid 1px #f0f0f0;
				color: #2c3e50;
				padding: 12px 20px 12px 12px;
				cursor: pointer;
			}
			ul.dropdown li:last-child{
				border-bottom: none;
			}
			ul.dropdown li span{
				font-family: 'Poppins-Bold';
			}
			ul.dropdown li:hover{
				background: #f0f0f0;
			}
			ul.originDropdown,
			ul.destinationDropdown{
				display: none;
			}
			label.budgetLabel input[type="text"]{
				background: transparent;
				height: 26px;
				width: auto !important;
				max-width: 32px;
				padding: 0 0;
				display: inline-block;
				vertical-align: top;
				font-family: 'Poppins-Regular';
				font-size: 12px;
				border: none !important;
			}
			#home .content table tr td input[type="range"]{
				line-height: 40px;
				padding: 0;
				border: none;
			}
			#home .content table tr td textarea{
				width: 100%;
				display: block;
				height: auto;
				resize: none;
				line-height: 16px;
				padding: 8px 8px;
			}

			/* ==== Range Input ==== */

			.range {
				-webkit-appearance: none;
				vertical-align: middle;
				outline: none;
				border: none;
				padding: 0;
				background: none;
			}
			.range::-webkit-slider-runnable-track{
				background-color: #d7dbdd;
				height: 6px;
				border-radius: 3px;
				border: 1px solid transparent;
			}
			.range[disabled]::-webkit-slider-runnable-track{
				border: 1px solid #d7dbdd;
				background-color: transparent;
				opacity: 0.4;
			}
			.range::-moz-range-track{
				background-color: #d7dbdd;
				height: 6px;
				border-radius: 3px;
				border: none;
			}
			.range::-ms-track{
				color: transparent;
				border: none;
				background: none;
				height: 6px;
			}
			.range::-ms-fill-lower{
				background-color: #d7dbdd;
				border-radius: 3px;
			}
			.range::-ms-fill-upper{
				background-color: #d7dbdd;
				border-radius: 3px;
			}
			.range::-ms-tooltip{
				display: none;
			}
			.range::-moz-range-thumb{
				border-radius: 20px;
				height: 18px;
				width: 18px;
				border: none;
				background: none;
				background-color: #ff7300;
			}
			.range:active::-moz-range-thumb{
				outline: none;
			}
			.range::-webkit-slider-thumb{
				-webkit-appearance: none !important;
				border-radius: 100%;
				background-color: #ff7300;
				height: 18px;
				width: 18px;
				margin-top: -7px;
			}
			.range[disabled]::-webkit-slider-thumb{
				background-color: transparent;
				border: 1px solid #d7dbdd;
			}
			.range:active::-webkit-slider-thumb{
				outline: none;
			}
			.range::-ms-thumb{
				border-radius: 100%;
				background-color: #ff7300;
				height: 18px;
				width: 18px;
				border: none;
			}
			.range:active::-ms-thumb{
				border: none;
			}

			/* ==== Datepicker ==== */

			.ui-datepicker{
	            z-index: 99999 !important;
	            width: 240px !important;
	            font-size: 13px !important;
	            font-family: 'Poppins-Bold' !important;
	            color: #2c3e50 !important;
	        }
	        .ui-widget-header{
	        	border: solid 1px #bdc3c7 !important;
	        	color: #2c3e50 !important;
	        	background: #f0f0f0 !important;
	        }
	        .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	        	border: solid 1px #2980b9 !important;
	        	background: #fafafa !important;
	        	color: #2c3e50 !important;
	        }
	        .ui-state-default, 
	        .ui-widget-content .ui-state-default, 
	        .ui-widget-header .ui-state-default, 
	        .ui-button, 
	        html .ui-button.ui-state-disabled:hover, 
	        html .ui-button.ui-state-disabled:active{
	        	background: #fafafa !important;
				color: #2c3e50 !important;
				-webkit-border-radius: 2px;
		        -moz-border-radius: 2px;
		        -o-border-radius: 2px;
		        -ms-border-radius: 2px;
		        border-radius: 2px;
		        -webkit-transition: all 0.2s;
		        -moz-transition: all 0.2s;
		        -o-transition: all 0.2s;
		        -ms-transition: all 0.2s;
		        transition: all 0.2s;
		        text-align: center;
	        }
	        .ui-datepicker-prev,
	        .ui-datepicker-next{
	        	border: solid 1px rgba(0,0,0,.06) !important;
	        	cursor: pointer;
	        }
	        .ui-datepicker-prev:hover,
	        .ui-datepicker-next:hover{
	        	top: 2px !important;
				border: solid 1px rgba(0,0,0,.12) !important;
	        }
	        .ui-datepicker-prev:hover{
	        	left: 2px !important;
	        }
	        .ui-datepicker-next:hover{
	        	right: 2px !important;
	        }

	        /* ===== Countries Selector ==== */

	        .phone-holder{
				position: relative;
				overflow: visible;
			}
			.phone-holder .country-select-open{
				width: 44px;
				height: 30px;
				background: #fff;
				border: solid 1px #e0e0e0;
				cursor: pointer;
				margin-right: 2px;
				-webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
		        line-height: 40px;
		        position: relative;
		        float: left;
			}
			.phone-holder .country-select-open .flag{
				height: 20px;
				width: 20px;
		        margin-left: 4px;
		        margin-top: 4px;
		        overflow: hidden;
			}
			.phone-holder .country-select-open .flag,
			.phone-holder ul.dropdown .f{
				background: url(../images/icons/bg/sample-bg.jpg) no-repeat center center;
			  	background-position: center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-repeat: no-repeat;
				border: solid 1px #cfcfcf;
				-webkit-border-radius: 100%;
		        -moz-border-radius: 100%;
		        -o-border-radius: 100%;
		        -ms-border-radius: 100%;
		        border-radius: 100%;
			}
			.phone-holder .country-select-open,
			.phone-holder .code{
				z-index: 9 !important;
			}
			.phone-holder .code{
				position: absolute;
				background: #fff;
				width: 48px;
				padding-right: 6px;
				border-right: solid 1px #e8e8e8;
				height: 28px;
				line-height: 28px;
				text-align: right;
				top: 1px;
				left: 48px;
				-webkit-border-top-left-radius: 4px;
		        -moz-border-top-left-radius: 4px;
		        -o-border-top-left-radius: 4px;
		        -ms-border-top-left-radius: 4px;
		        border-top-left-radius: 4px;
		        -webkit-border-bottom-left-radius: 4px;
		        -moz-border-bottom-left-radius: 4px;
		        -o-border-bottom-left-radius: 4px;
		        -ms-border-bottom-left-radius: 4px;
		        border-bottom-left-radius: 4px;
		        color: #8f8f8f;
		        font-size: 12px;
		        font-family: 'Poppins-Light';
		        cursor: pointer;
		        z-index: 100 !important;
			}
			.phone-holder .country-select-open:after{
				position: absolute;
				content: '';
				right: 5px;
				top: 13px;
				border-left: solid 4px transparent;
				border-top: solid 4px #cfcfcf;
				border-right: solid 4px transparent;
			}
			.phone-holder input{
				float: right;
				padding-left: 56px;
				width: -webkit-calc(100% - 46px) !important;
		        width: -moz-calc(100% - 46px) !important;
		        width: -o-calc(100% - 46px) !important;
		        width: -ms-calc(100% - 46px) !important;
		        width: calc(100% - 46px) !important;
			}
			.common-form-elements .phone-holder .country-select-open{
				height: 40px;
				width: 60px;
			}
			.common-form-elements .phone-holder .country-select-open:after{
				top: 18px;
				right: 8px;
			}
			.common-form-elements .phone-holder .country-select-open .flag{
				height: 30px;
				width: 30px;
			}
			.common-form-elements .phone-holder .code{
				top: 1px;
				left: 66px;
				height: 38px;
				line-height: 38px;
			}
			.common-form-elements .phone-holder input{
				padding-left: 56px;
				width: -webkit-calc(100% - 64px) !important;
		        width: -moz-calc(100% - 64px) !important;
		        width: -o-calc(100% - 64px) !important;
		        width: -ms-calc(100% - 64px) !important;
		        width: calc(100% - 64px) !important;
			}
			.phone-holder ul.dropdown{
				top: 32px;
				width: 240px;
				max-width: 240px;
				left: 0;
				background: #FFF;
				display: none;
				z-index: 99;
			}
			.phone-holder.active ul.dropdown{
				display: block;
			}
			.phone-holder ul.dropdown .f{
				height: 20px;
				width: 20px;
				margin-right: 12px;
			}
			.phone-holder ul.dropdown .f,
			.phone-holder ul.dropdown p{
				display: inline-block;
				vertical-align: top;
			}
			.phone-holder ul.dropdown p{
				max-width: 172px;
				height: 20px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.phone-holder ul.dropdown p span{
				font-size: 8px;
				font-weight: 300 !important;
			}
			.common-form-elements .phone-holder ul.dropdown{
				top: 42px;
				left: 0;
			}

		/* ================================================
			5.2 Form Preview
		================================================ */

			#formPreview{
				position: fixed;
				z-index: 99999999 !important;
				background: rgba(255,255,255,.86);
				background: rgba(0,0,0,.48);
				height: 100vh;
				width: 100vw;
				top: 0;
				left: 0;
				display: none;
			}
			#formPreview .block{
				width: 100%;
				height: 100%;
				max-height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				overflow-y: scroll;
				padding-top: 60px;
			}
			#formPreview .inner{
				background: #FFF;
				max-width: 680px;
				height: auto;
				margin: 0 auto;
				display: block;
				margin-bottom: 120px;
				-webkit-box-shadow: 0px 0px 40px rgba(0,0,0,.68);
		        -moz-box-shadow: 0px 0px 40px rgba(0,0,0,.68);
		        -o-box-shadow: 0px 0px 40px rgba(0,0,0,.68);
		        -ms-box-shadow: 0px 0px 40px rgba(0,0,0,.68);
		        box-shadow: 0px 0px 40px rgba(0,0,0,.68);
			}
			#formPreview h5{
				text-align: center;
				padding: 30px 60px;
				background: #ff7300;
				color: #fff;
				border-bottom: solid 2px rgba(0,0,0,0.11);
				line-height: 24px;
				position: relative;
			}
			img#closePreview{
				position: absolute;
				top: 30px;
				right: 25px;
				height: 25px;
				cursor: pointer;
			}
			#formPreview .con{
				padding: 40px 60px 60px 60px;
			}
			#formPreview .con table{
				width: 100%;
				display: table;
				border-collapse: collapse;
			}
			#formPreview .con table tr td{
				padding: 4px 10px;
				border: solid 1px #f0f0f0;
			}
			#formPreview .con table tr td img{
				height: 20px;
				width: auto;
				display: inline-block;
				vertical-align: top;
				margin-right: 10px;
			}
			#formPreview .con table tr.return-block{
				display: none;
			}
			#formPreview .con p{
				margin-bottom: 10px;
			}
			#formPreview .con table tr td p{
				font-size: 11px;
				margin-top: 5px;
				margin-bottom: 5px;
			}
			#formPreview .con p strong,
			#formPreview .con p span{
				font-family: 'Poppins-Medium';
			}
			#formPreview .con p span{
				color: #1a8641;
			}
			#formPreview .con .btn-holder{
				text-align: right;
			}
			#formPreview .con .btn-holder .ajax-loader{
				display: block !important;
			}
			#formPreview .con .btn-holder button,
			#formPreview .con .btn-holder input{
				display: inline-block;
				vertical-align: top;
				margin-top: 0;
				margin-bottom: 0;
			}
			#formPreview .con .btn-holder button.cancel{
				background: #f0f0f0;
				border-color: #f0f0f0;
				color: #8f8f8f;
				margin-right: 4px;
			}
			#formPreview .con .btn-holder p{
				line-height: 40px;
				cursor: pointer;
				padding-right: 10px;
			}
			#formPreview .con .update-details{
				text-align: center;
			}
			#formPreview .con .update-details p{
				width: auto;
				margin: 0 auto;
				display: inline-block;
				cursor: pointer;
				text-decoration: underline;
			}
			#formPreview .con .update-details p:hover{
				text-decoration: none;
			}
			#flight-input-elements{
				display: flex;
			}
			#flight-input-elements input{
				width: auto;
				display: inline-block;
			}
			#flight-input-elements .wpcf7{
				width: 100% !important;
			}
			#flight-input-elements .inputs{
				height: 0px !important;
				overflow: hidden;
			}
			#flight-input-elements .wpcf7 form.sent .wpcf7-response-output, 
			#flight-input-elements .wpcf7 form.invalid .wpcf7-response-output, 
			#flight-input-elements .wpcf7 form.unaccepted .wpcf7-response-output {
				padding: 10px 0;
				font-size: 13px;
				color: #1a2b47;
			}
			span.wpcf7-not-valid-tip{
				display: none;
			}

		/* ================================================
			5.3 Offers
		================================================ */

			.home-offers{
				z-index: 12;
				background: #FFF;
				height: 248px;
				position: relative;
			}
			.home-offers .container,
			.home-offers .special-offers,
			.home-offers .newsletters,
			.home-offers .travel-tips{
				height: 280px;
			}
			.home-offers .container{
				background: #2c3e50;
				position: absolute;
				top: -68px;
				left: 50%;
				margin-left: -560px;
				-webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
			}
			.home-offers .special-offers,
			.home-offers .newsletters,
			.home-offers .travel-tips{
				background: url(../images/icons/bg/sample-bg.jpg) no-repeat center center;
			  	background-position: center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.home-offers .special-offers,
			.home-offers .newsletters,
			.home-offers .travel-tips,
			.top-destinations .one{
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.home-offers .inner{
				padding: 0 60px;
			}
			.home-offers .inner h4{
				color: #FFF;
				font-family: 'Poppins-Medium';
			}
			.home-offers .inner p{
				color: #FFF;
				line-height: 1.5;
				max-width: 386px;
				margin-top: 10px;
				margin-bottom: 20px;
			}
			.home-offers .special-offers button:hover{
				color: #ff7300;
			}
			.home-offers .newsletters button:hover{
				color: #e67e22;
			}
			.home-offers .travel-tips button:hover{
				color: #f1c40f;
			}

		/* ================================================
			5.4 Top Destinations
		================================================ */

			h4.viewAll{
				position: relative;
			}
			h4.viewAll span{
				padding-left: 10px;
				font-size: 13px;
				line-height: 20px;
				font-family: 'Poppins-Light';
				position: absolute;
				right: 0;
				bottom: 0;
				padding-right: 36px;
			}
			h4.viewAll span:before{
				position: absolute;
				content: '';
				right: 6px;
				height: 1px;
				width: 20px;
				background: #cfcfcf;
				bottom: 10px;
			}
			h4.viewAll span:after{
				position: absolute;
				content: '';
				right: 0;
				border-top: solid 4px transparent;
				border-left: solid 6px #cfcfcf;;
				border-bottom: solid 4px transparent;
				bottom: 6px;
			}
			h4.viewAll span a:hover{
				color: #1a8641;
			}
			.top-destinations{
				margin-bottom: 48px;
			}
			.top-destinations .one{
				position: relative;
				height: 250px;
				width: -webkit-calc(25% - 30px);
		        width: -moz-calc(25% - 30px);
		        width: -o-calc(25% - 30px);
		        width: -ms-calc(25% - 30px);
		        width: calc(25% - 30px);
		        margin-right: 40px;
		        -webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
		        overflow: hidden;
			}
			.top-destinations .one:nth-child(4n){
				margin-right: 0;
			}
			.top-destinations .one .img{
				background: url(../images/icons/bg/sample-bg.jpg) no-repeat center center;
			  	background-position: center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
			}
			.top-destinations .one .ol{
				position: absolute;
				content: '';
				background: rgba(0,0,0,.4);
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
			}
			.top-destinations .one:hover .ol{
				background: rgba(0,0,0,.1);
			}
			.top-destinations .one .inner{
				position: relative;
				z-index: 3;
				text-align: center;
			}
			.top-destinations .one .inner h5{
				color: #FFF;
			}
			.top-destinations .one .inner p{
				color: #FFF;
			}
			.top-destinations .one .inner p img{
				height: 10px;
			}
			.top-activities{
				margin-bottom: 80px;
			}

		/* ================================================
			5.5 Promotions
		================================================ */
			
			.promotions{
				margin-bottom: 48px;
			}
			.promotions .one{
				position: relative;
				width: -webkit-calc(33.33% - 26.67px);
		        width: -moz-calc(33.33% - 26.67px);
		        width: -o-calc(33.33% - 26.67px);
		        width: -ms-calc(33.33% - 26.67px);
		        width: calc(33.33% - 26.67px);
		        margin-right: 40px;
		        overflow: hidden;
			}
			.promotions .one:nth-child(3n){
				margin-right: 0;
			}
			.promotions .one .img{
				-webkit-border-top-left-radius: 4px;
		        -moz-border-top-left-radius: 4px;
		        -o-border-top-left-radius: 4px;
		        -ms-border-top-left-radius: 4px;
		        border-top-left-radius: 4px;
		        -webkit-border-top-right-radius: 4px;
		        -moz-border-top-right-radius: 4px;
		        -o-border-top-right-radius: 4px;
		        -ms-border-top-right-radius: 4px;
		        border-top-right-radius: 4px;
		        overflow: hidden;
			}
			.promotions .one .img img{
				width: 100%;
				height: auto;
				display: block;
			}
			.promotions .one .desc{
				border: solid 1px;
				border-color: #f0f0f0;
				border-top: none;
				-webkit-border-bottom-left-radius: 4px;
		        -moz-border-bottom-left-radius: 4px;
		        -o-border-bottom-left-radius: 4px;
		        -ms-border-bottom-left-radius: 4px;
		        border-bottom-left-radius: 4px;
		        -webkit-border-bottom-right-radius: 4px;
		        -moz-border-bottom-right-radius: 4px;
		        -o-border-bottom-right-radius: 4px;
		        -ms-border-bottom-right-radius: 4px;
		        border-bottom-right-radius: 4px;
		        padding: 20px;
		        overflow: hidden;
			}
			.promotions .one .desc h5{
				line-height: 1.4;
			}
			.promotions .one .desc p{
				margin: 5px 0 20px 0;
			}
			.promotions .one:hover .desc{
				border-color: #ff7300;
			}
			.promotions .one .desc button{
				float: right;
			}
			p.read-more{
				position: relative;
			}
			p.read-more:before,
			p.read-more:after{
				position: absolute;
				content: ''
			}
			p.read-more:before{
				top: 10px;
				left: 80px;
				height: 1px; 
				width: 30px;
				background: #cfcfcf;
			}
			p.read-more:after{
				top: 6px;
				left: 110px;
				border-top: solid 4px transparent;
				border-left: solid 6px #cfcfcf;;
				border-bottom: solid 4px transparent;
			}
			.blogs .one .desc p{
				margin: 10px 0 10px 0;
			}

	/* ====================================================
		6. Destinations
	==================================================== */

		/* ================================================
			6.1 All Destinations
		================================================ */

			.all-destinations{
				padding-top: 40px;
			}
			.all-destinations .one{
				margin-bottom: 40px;
			}

	/* ====================================================
		7. Promotions
	==================================================== */

		/* ================================================
			7.1 All Promotions
		================================================ */

			.all-promotions{
				padding-top: 40px;
			}
			.all-promotions .one{
				margin-bottom: 40px;
			}

	/* ====================================================
		8. Blogs
	==================================================== */

		/* ================================================
			8.1 All Blogs
		================================================ */

			.all-blogs{
				padding-top: 40px;
			}
			.all-blogs .one{
				margin-bottom: 40px;
			}
			.pagination{
				text-align: center;
            	padding: 10px 0;
			}
			.pagination a,
        	.pagination span{
	            height: 30px;
	            width: 30px;
	            background: #fff;
	            display: inline-block;
	            line-height: 30px;
	            -webkit-border-radius: 100%;
	            -moz-border-radius: 100%;
	            -o-border-radius: 100%;
	            -ms-border-radius: 100%;
	            border-radius: 100%;
	            -webkit-box-shadow: 0px 0px 16px rgba(209,217,230,.5);
	            -moz-box-shadow: 0px 0px 16px rgba(209,217,230,.5);
	            -o-box-shadow: 0px 0px 16px rgba(209,217,230,.5);
	            -ms-box-shadow: 0px 0px 16px rgba(209,217,230,.5);
	            box-shadow: 0px 0px 16px rgba(209,217,230,.5);
	            -webkit-transition: all 0.2s;
	            -moz-transition: all 0.2s;
	            -o-transition: all 0.2s;
	            -ms-transition: all 0.2s;
	            transition: all 0.2s;
	            color: #000;
	            font-weight: 300;
	            font-size: 10px;
	            text-align: center;
	            cursor: pointer;
	        }
	        .pagination a:hover,
	        .pagination .current{
	            background: #ff7300;
	            color: #fff;
	        }

	/* ====================================================
		9. Common Page
	==================================================== */

		/* ================================================
			9.1 Common Content
		================================================ */

			.common-content{
				padding: 20px 0 40px 0;
			}
			.common-content .title{
				margin-bottom: 20px;
			}
			.common-content .title h1{
				font-size: 24px;
				line-height: 32px;
			}
			.common-content .left-content{
				width: -webkit-calc(100% - 300px);
		        width: -moz-calc(100% - 300px);
		        width: -o-calc(100% - 300px);
		        width: -ms-calc(100% - 300px);
		        width: calc(100% - 300px);
		        padding-right: 40px;
		        font-size: 13px;
		        line-height: 20px;
		        color: #1a2b47;
			}
			.common-content .right-content{
				width: 300px;
			}
			.common-content .main-content h1,
			.common-content .main-content h2,
			.common-content .main-content h3,
			.common-content .main-content h4,
			.common-content .main-content h5,
			.common-content .main-content h6,
			.common-content .main-content p,
			.common-content .main-content ul{
				margin-bottom: 20px;
			}
			.common-content .main-content p strong{
				font-family: 'Poppins-Bold';
			}
			.common-content .main-content ul li{
				position: relative;
				padding-left: 20px;
				margin-bottom: 10px;
			}
			.common-content .main-content ul li:after{
				position: absolute;
				content: '';
				height: 6px;
				width: 6px;
				top: 6px;
				left: 0;
				background: #1a2b47;
				-webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
			}
			.common-content .main-content ul li a{
				color: #1a8641;
				text-decoration: underline;
			}
			.common-content .main-content ul li a:hover{
				color: #ff7300;
			}
			#main-content ul.wpsm_nav-tabs li a,
			#main-content ul.wpsm_nav li a{
				font-family: 'Poppins-Medium' !important;
				background: blue;
			}
			#main-content ul.wpsm_nav-tabs li:after{
				display: none;
			}
			#main-content ul.wpsm_nav-tabs li a{
				color: #2980b9;
			}
			#main-content .tab-content > .tab-pane{
				font-family: 'Poppins-Regular' !important;
				font-size: 13px;
			}
			#main-content .tab-content > .tab-pane{

			}
			#main-content h3{
				font-size: 24px !important;
				line-height: 36px !important;
			}
			.common-content .right-content h4.price span{
				font-size: 13px;
			}
			.tour-info table{
				width: 100%;
				display: table;
				border-collapse: collapse;
				table-layout: fixed;
				background: #fafafa;
			}
			.tour-info table tr td{
				border: solid 1px #f0f0f0;
				padding: 10px;
			}
			h6.trip-info-title{
				padding: 10px 0 20px 0;
			}
			.other-tour-destinations{
				border: solid 1px #f0f0f0;
				background: #fafafa;
			}
			.other-tour-destinations h6{
				line-height: 40px;
				border-bottom: solid 1px #f0f0f0;
				padding: 0 15px;
			}
			select.notAllowed{
				cursor: not-allowed;
			}

		/* ================================================
			9.2 Travel Tips
		================================================ */

			.some-travel-tips{
				margin-top: 20px;
			}
			.some-travel-tips .one{
				margin-bottom: 20px;
			}
			.some-travel-tips .one .img{
				-webkit-border-top-left-radius: 4px;
		        -moz-border-top-left-radius: 4px;
		        -o-border-top-left-radius: 4px;
		        -ms-border-top-left-radius: 4px;
		        border-top-left-radius: 4px;
		        -webkit-border-top-right-radius: 4px;
		        -moz-border-top-right-radius: 4px;
		        -o-border-top-right-radius: 4px;
		        -ms-border-top-right-radius: 4px;
		        border-top-right-radius: 4px;
		        overflow: hidden;
			}
			.some-travel-tips .one .img img{
				width: 100%;
				height: auto;
				display: block;
			}
			.some-travel-tips .one .desc{
				border: solid 1px;
				border-color: #cfcfcf;
				border-top: none;
				-webkit-border-bottom-left-radius: 4px;
		        -moz-border-bottom-left-radius: 4px;
		        -o-border-bottom-left-radius: 4px;
		        -ms-border-bottom-left-radius: 4px;
		        border-bottom-left-radius: 4px;
		        -webkit-border-bottom-right-radius: 4px;
		        -moz-border-bottom-right-radius: 4px;
		        -o-border-bottom-right-radius: 4px;
		        -ms-border-bottom-right-radius: 4px;
		        border-bottom-right-radius: 4px;
		        overflow: hidden;
		        padding: 15px 15px 15px 15px;
			}
			.some-travel-tips .one .desc h6{
				line-height: 1.4;
			}
			.some-travel-tips .one .desc p{
				margin-top: 5px;
			}
			.some-travel-tips .one:hover .desc{
				border-color: #ff7300;
			}

		/* ================================================
			9.3 Single Page Forms
		================================================ */

			.inquire-single{
				margin: 20px 0;
			}
			.inquire-single table{
				width: 100%;
				display: table;
				border-collapse: collapse;
				table-layout: fixed;
			}
			.inquire-single table tr td{
				padding: 5px;
			}
			.inquire-single table tr td label{
				font-size: 13px;
			}
			.inquire-single table tr td select{
				width: 100%;
				height: 40px;
				line-height: 40px;
				margin-bottom: 10px;
				padding: 0 15px;
			}
			.inquire-single table tr td input[type="range"]{
				border: none;
			}

	/* ====================================================
		10. Flight Search Enquiry
	==================================================== */

		/* ================================================
			10.1 Inquiry
		================================================ */

			.enquiry{
			}
			.enquiry .col-1-2:first-child{
				padding-right: 30px;
			}
			.enquiry .col-1-2:last-child{
				padding-left: 30px;
			}
			.common-form-elements input,
			.common-form-elements textarea{
				width: 100%;
				margin-bottom: 10px;
			}
			.common-form-elements input{
				height: 40px;
				line-height: 40px;
				padding: 0 15px;
			}
			.common-form-elements textarea{
				padding: 12px 15px;
				line-height: 16px;
				height: auto;
				resize: none;
			}
			.common-form-elements input[type="submit"]{
				width: auto;
			}
			.common-form-elements textarea:focus,
			.common-form-elements input:focus{
				border-color: #ff7300;
			}
			.enquiry-details table{
				width: 100%;
				display: table;
				border-collapse: collapse;
				margin-top: 20px;
			}
			.enquiry-details table tr td{
				border: solid 1px #f0f0f0;
				padding: 6px 10px;
			}
			.enquiry-details table tr td p{
				line-height: 20px;
			}
			.enquiry-details table tr td:first-child{
				width: 20%;
				background: #1a8641;
			}
			.enquiry-details table tr td:first-child p{
				color: #FFF;
			}
			.enquiry-details table tr.no-bg td{
				background: transparent;
			}
			.enquiry-details table tr.no-bg td p{
				color: #000;
			}
			.enquiry-details table tr td input{
				background: transparent;
				font-family: 'Poppins-Regular';
				z-index: -1;
				position: absolute;
				line-height: 26px;
				height: 26px;
				color: #000;
			}
			.enquiry-details table tr td span input,
			.enquiry-details table tr td span input:focus,
			.enquiry-details table tr td span input:hover{
				border: none;
				outline: none;
			}
			.enquiry-details table tr td span{
				position: relative;
				width: 100%;
				background: transparent;
				height: 26px;
				display: block;
			}
			.enquiry-details table tr td span input{
				position: absolute;
				width: 100%;
			}
			.enquiry-details table tbody{
				display: table;
				width: 100%;
			}
			.enquiry-details table tbody.ori-des-dep{
				display: block;
				height: 150px;
				width: 100%;
				overflow-x: hidden;
				overflow-y: auto;
			}

	/* ====================================================
		11. FAQs
	==================================================== */

		/* ================================================
			11.1 Tabs
		================================================ */

			ul.faqs{
				border-bottom: solid 1px #f0f0f0;
				overflow: hidden;
				padding: 0;
			}
			ul.faqs li{
				list-style: none;
				padding: 10px 20px !important;
				background: #e8e8e8;
				float: left;
				color: #2c3e50;
				margin-bottom: 0 !important;
				border-right: solid 1px rgba(0,0,0,.12);
				cursor: pointer;
			}
			ul.faqs li:last-child{
				border-right: none;
			}
			ul.faqs li:after,
			.faqs-content ul.questions li:after{
				display: none;
			}
			ul.faqs li.active{
				background: #ff7300;
				color: #FFF;
			}
			.faqs-content{
				margin-top: 20px;
			}
			.faqs-content .inner{
				display: none;
			}
			.faqs-content .active{
				display: block;
			}
			.faqs-content ul.questions{}
			.faqs-content ul.questions li{
				padding: 0;
			}
			.faqs-content ul.questions li{
				border: solid 1px #f0f0f0;
				margin-bottom: 20px !important;
			}
			.faqs-content ul.questions li h5{
				padding: 20px 25px;
				cursor: pointer;
				margin-bottom: 0 !important;
			}
			.faqs-content ul.questions li h5 span{
				height: 28px;
				width: 28px;
				display: inline-block;
				vertical-align: top;
				text-align: center;
				border: solid 2px #cfcfcf;
				background: #f0f0f0;
				color: #7f8c8d;
				margin-right: 10px;
				-webkit-border-radius: 100%;
		        -moz-border-radius: 100%;
		        -o-border-radius: 100%;
		        -ms-border-radius: 100%;
		        border-radius: 100%;
		        font-size: 12px;
		        line-height: 26px;
			}
			.faqs-content ul.questions li .answer{
				display: none;
				padding: 0 25px 0 25px;
			}
			.faqs-content ul.questions li .answer p{
				margin-bottom: 20px !important;
			}

	/* ====================================================
		12. Contact Page
	==================================================== */

		/* ================================================
			12.1 Contact Box
		================================================ */

			.contact-box{
				background: url(../images/icons/bg/sample-bg.jpg) no-repeat center center;
			  	background-position: center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-repeat: no-repeat;
				-webkit-border-radius: 4px;
		        -moz-border-radius: 4px;
		        -o-border-radius: 4px;
		        -ms-border-radius: 4px;
		        border-radius: 4px;
				height: 440px;
				padding: 40px;
				position: relative;
			}
			.contact-box .white{
				color: #FFF;
			}
			.contact-box .info{
				position: absolute;
				left: 40px;
				bottom: 40px;
				padding-right: 40px;
			}

	/* ====================================================
		N. XXX
	==================================================== */

	
















			

		

		

		

		






